<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title> <%= result.data.fields.productName %> &middot; NaijaTech Stores &middot; No1 Classified Site For Gadget, Computer and Laptop, Accessories in Nigeria</title>

    <meta name="description" content="No1 Classidied Site For Gadget, Computer and Laptop, Accessories in Nigeria">
    <meta name="keywords" content="unistore, laptops, gadgets, accessories, online store, buy, tablets, niyotek">
    <meta name="author" content="Gentle Coder">
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/products/logo.png">
    
    <!-- Bootstrap -->
    <link href="assets/css/bootstrap.css" rel="stylesheet">
    <link href="assets/css/custom.css" rel="stylesheet">
    <link href="assets/css/carousel-product.css" rel="stylesheet">
    <link href="assets/ionicons-2.0.1/css/ionicons.css" rel="stylesheet">
    <!-- <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css"> -->
    <link href='https://fonts.googleapis.com/css?family=Catamaran:400,100,300' rel='stylesheet' type='text/css'>

    <link href="assets/css/custom-scroll/jquery.mCustomScrollbar.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <style type="text/css">
    .toplinks button {
      padding: 30px;
    }

    .rollin {
        -webkit-animation: schowContent 0.7s 0.55s ease-out forwards;
        -moz-animation:    schowContent 0.7s 0.55s ease-out forwards;
        -o-animation:      schowContent 0.7s 0.55s ease-out forwards;
        animation:         schowContent 0.7s 0.55s ease-out forwards;
      }

      @-webkit-keyframes schowContent {
        from   { -webkit-transform: translateX(100px); opacity: 0; }
        to { -webkit-transform: translateX(0px); opacity: 1; }
      }
      @-moz-keyframes schowContent {
        from   { -moz-transform: translateX(100px); opacity: 0; }
        to { -moz-transform: translateX(0px); opacity: 1; }
      }
      @-o-keyframes schowContent {
        from   { -o-transform: translateX(100px); opacity: 0; }
        to { -o-transform: translateX(0px); opacity: 1; }
      }
      @keyframes schowContent {
        from   { transform: translateX(100px); opacity: 0; }
        to { transform: translateX(0px); opacity: 1; }
      }

    .button-group {
      position: fixed; 
      top: 500px; 
      right: 0; 
      display: flex; 
      justify-content: space-between; 
      z-index: 100;
      opacity: 0;
    }

    .button-group > * {
      z-index: 5;
    }

    @media (max-width: 768px) {
         .button-group > *{
            padding: 5px 10px;
            font-size: 12px;
            line-height: 1.5;
            border-radius: 3px; 
          }
      }
  </style>
  <body>

     <div class="toplinks">
      <a href="#" data-toggle="modal" data-target="#Modal-Gallery"> <i class="ion-ios-heart"></i> Favorites </a>
      <a href="tel:+2347017578648" class="hidden-xs"> <i class="ion-android-call"></i> 0701 757 8648</a>
    </div>

    
    <nav class="navbar navbar-default">
        <div class="container">
          <div class="navbar-header">
            <a class="navbar-brand logo" href="/"><img src="assets/img/products/logo.png"></a>
            <a class="navbar-brand pull-right hidden-sm hidden-md hidden-lg" href="/"></a>
          </div>


          <!-- <div class="search hidden-xs" data-style="hidden">
            <div class="input">
              <button type="button"><i class="ion-ios-search"></i></button>

              <input type="text" name="search" value="" placeholder="Type here..." />
            </div>
          </div> -->
        </div><!--/.container-fluid -->
    </nav>

    <div class="rollin button-group">
        <a href="tel:+80005554465" class=" btn btn-primary"> <i class="ion-android-cart"></i> Call To Buy</a>  
        <button class="btn btn-primary" data-toggle="modal" data-target="#Modal-Callback"><i class="ion-android-sync"></i> Seller's Callback</button>  
        <button class="btn btn-primary" data-toggle="modal" data-target="#Modal-Delivery"><i class="ion-bag"></i> Click For Free Delivery</button>  
    </div>


          <div class="search hidden-xs" data-style="hidden">
            <div class="input">
              <button type="button"><i class="ion-ios-search"></i></button>

              <input type="text" name="search" value="" placeholder="Type here..." />
            </div>
          </div>
        </div><!--/.container-fluid -->
    </nav>
    <hr class="offset-lg">
    <hr class="offset-lg">
    <hr class="offset-lg hidden-xs">


    <section class="product top">
      <div class="container">
        <div class="row">
          <div class="col-sm-7 col-md-7 white no-padding">
            <div class="carousel-product" data-count="4" data-current="1">

              <div class="items">
                <button class="btn btn-control" data-direction="right"> <i class="ion-ios-arrow-right"></i></button>
                <button class="btn btn-control" data-direction="left"> <i class="ion-ios-arrow-left"></i></button>


                <div class="item center" data-marker="1">
                  <img src="https:<%= result.data.fields.images[0].fields.file.url %>" alt="<%= result.data.fields.images[0].fields.file.fileName %>" class="background"/>
                </div>
                
                <div class="item" data-marker="2">
                  <img src="https:<%= result.data.fields.images[1].fields.file.url %>" alt="Microsoft Surface Studio" class="background"/>
                </div>

                <div class="item" data-marker="3">
                  <img src="https:<%= result.data.fields.images[0].fields.file.url %>" alt="Microsoft Surface Studio" class="background"/>
                </div>

                <div class="item" data-marker="4">
                  <img src="https:<%= result.data.fields.images[1].fields.file.url %>" alt="Microsoft Surface Studio" class="background"/>
                </div>
              </div>

              <ul class="markers">
                <li data-marker="1" class="active"></li>
                <li data-marker="2"></li>
                <li data-marker="3"></li>
                <li data-marker="4"></li>
              </ul>

            </div>
          </div>
          <div class="col-sm-5 col-md-5 no-padding-xs">
            <div class="caption">
              <img src="assets/img/brands/microsoft.png" alt="Microsoft" class="brand hidden-xs hidden-sm" />

              <h1><%= result.data.fields.productName %></h1>

              <p> &middot; <%= result.data.fields.operatingSystem %>™</p>
              <p> &middot; 28 Inch PixelSense™ Display</p>
              <p> &middot; <%= result.data.fields.processor%></p>
              <hr class="offset-md hidden-sm">
              <hr class="offset-sm visible-sm">
              <hr class="offset-xs visible-sm">

              <p class="price">$<%= result.price.newPrice %></p>
              <p class="price through">$3 449.99</p>
              <hr class="offset-md">

              <button class="btn btn-primary rounded"> <i class="ion-bag"></i> Buy now</button>
              <button class="btn btn-link"> <i class="ion-ios-heart"></i> See later </button>
            </div>
          </div>
        </div>
        <hr class="offset-sm hidden-xs">

        <div class="row">
          <div class="col-sm-7 white sm-padding">
            <hr class="offset-sm visible-xs">

            <h2 class="h1"><%= result.data.fields.productName %></h2>
            <br>

            <p>
                <%= result.data.fields.description %>
            </p>
            <br>

             <h2>Product specifications</h2>
             <br>

              <div class="row specification">
                <div class="col-sm-4"> <label>Operating system</label> </div>
                <div class="col-sm-8"> <p><%= result.data.fields.operatingSystem %>™</p> </div>
              </div>

              <div class="row specification">
                <div class="col-sm-4"> <label>Display</label> </div>
                <div class="col-sm-8">
                    <%= result.data.fields.display %>
                </div>
              </div>
              
              <div class="row specification">
                <div class="col-sm-4"> <label>Processor</label> </div>
                <div class="col-sm-8"> <p><%= result.data.fields.processor %></p> </div>
              </div>

              <div class="row specification">
                <div class="col-sm-4"> <label>Processor technology</label> </div>
                <div class="col-sm-8"> <p>Intel Turbo Boost Technology</p> </div>
              </div>

              <div class="row specification">
                <div class="col-sm-4"> <label>Graphics</label> </div>
                <div class="col-sm-8"> <p><%= result.data.fields.graphics %></p> </div>
              </div>

              <div class="row specification">
                <div class="col-sm-4"> <label>Memory</label> </div>
                <div class="col-sm-8"> <p><%= result.data.fields.memory %> RAM</p> </div>
              </div>

              <div class="row specification">
                <div class="col-sm-4"> <label>Hard drive</label> </div>
                <div class="col-sm-8"> <p><%= result.data.fields.hardDrive %> HDD</p> </div>
              </div>

              <div class="row specification">
                <div class="col-sm-4"> <label>Wireless</label> </div>
                <div class="col-sm-8">
                  <p>
                    <%= result.data.fields.wireless %>
                  </p>
                </div>
              </div>

              <div class="row specification">
                <div class="col-sm-4"> <label>Power supply</label> </div>
                <div class="col-sm-8"> <p><%= result.data.fields.powerSupply %></p> </div>
              </div>

              <div class="row specification">
                <div class="col-sm-4"> <label>Battery</label> </div>
                <div class="col-sm-8"> <p><%= result.data.fields.battery %></p> </div>
              </div>

              <hr class="offset-lg">
          </div>
          <div class="col-sm-5 no-padding-xs">
            <div class="talk white">
              <h2 class="h3">Do you have any questions?</h2>
              <p class="">Chat now with our manager</p>
              <hr class="offset-md">

              <a href="tel:+80005554465" class="btn btn-primary btn-sm"> <i class="ion-social-whatsapp"></i> 0701 757 8648 </a>
              <hr class="offset-md visible-xs">
            </div>
            <hr class="offset-sm hidden-xs">

            <div class="comments white">
              <h2 class="h3">What do you think? (#3)</h2>
              <br>


              <div class="wrapper">
                <div class="content">
                  <h3>Anne Hathaway</h3>
                  <label>2 years ago</label>
                  <p>
                    Apple Music brings iTunes music streaming to the UK. But is it worth paying for? In our Apple Music review, we examine the service's features, UK pricing, audio quality and music library
                  </p>


                  <h3>Chris Hemsworth</h3>
                  <label>Today</label>
                  <p>
                    Samsung's Galaxy S7 smartphone is getting serious hype. Here's what it does better than Apple's iPhone 6s.
                  </p>


                  <h3>Anne Hathaway</h3>
                  <label>2 years ago</label>
                  <p>
                    Apple Music brings iTunes music streaming to the UK. But is it worth paying for? In our Apple Music review, we examine the service's features, UK pricing, audio quality and music library
                  </p>
                </div>
              </div>
              <hr class="offset-lg">
              <hr class="offset-md">

              <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#Modal-Comment"> <i class="ion-chatbox-working"></i> Add comment </button>
              <hr class="offset-md visible-xs">
            </div>            
          </div>
        </div>
      </div>
    </section>
    <hr class="offset-lg">

    <section class="products">
      <div class="container">
        <h2 class="upp align-center-xs"> Related products </h2>
        <hr class="offset-lg">

        <div class="row">

          <div class="col-sm-4 col-md-3 product">
            <div class="body">
              <a href="#favorites" class="favorites" data-favorite="inactive"><i class="ion-ios-heart-outline"></i></a>
              <a href="./"><img src="assets/img/products/apple-imac-27-retina.jpg" alt="Apple iMac 27 Retina"/></a>

              <div class="content align-center">
                <p class="price">$2099.99</p>
                <h2 class="h3">iMac 27 Retina</h2>
                <hr class="offset-sm">

                <button class="btn btn-link"> <i class="ion-android-open"></i> Details</button>
                <button class="btn btn-primary btn-sm rounded"> <i class="ion-bag"></i> Add to cart</button>
              </div>
            </div>
          </div>

          <div class="col-sm-4 col-md-3 product">
            <div class="body">
              <a href="#favorites" class="favorites" data-favorite="inactive"><i class="ion-ios-heart-outline"></i></a>
              <a href="./"><img src="assets/img/products/dell-inspiron-23.jpg" alt="Dell Inspion 23"/></a>

              <div class="content align-center">
                <p class="price">$1987.99</p>
                <h2 class="h3">Dell Inspion 23</h2>
                <hr class="offset-sm">

                <button class="btn btn-link"> <i class="ion-android-open"></i> Details</button>
                <button class="btn btn-primary btn-sm rounded"> <i class="ion-bag"></i> Add to cart</button>
              </div>
            </div>
          </div>

          <div class="col-sm-4 col-md-3 product">
            <div class="body">
              <a href="#favorites" class="favorites" data-favorite="inactive"><i class="ion-ios-heart-outline"></i></a>
              <a href="./"><img src="assets/img/products/lenovo-yoga.jpg" alt="Lenovo Yoga 900"/></a>

              <div class="content align-center">
                <p class="price">$1899.99</p>
                <h2 class="h3">Lenovo Yoga 900</h2>
                <hr class="offset-sm">

                <button class="btn btn-link"> <i class="ion-android-open"></i> Details</button>
                <button class="btn btn-primary btn-sm rounded"> <i class="ion-bag"></i> Add to cart</button>
              </div>
            </div>
          </div>

          <div class="col-sm-6 col-md-3 product hidden-sm">
            <div class="body">
              <a href="#favorites" class="favorites" data-favorite="inactive"><i class="ion-ios-heart-outline"></i></a>
              <a href="./"><img src="assets/img/products/hp-spectre-x360.jpg" alt="HP Spectre x360"/></a>

              <div class="content align-center">
                <p class="price">$2994.99</p>
                <h2 class="h3">HP Spectre x360</h2>
                <hr class="offset-sm">

                <button class="btn btn-link"> <i class="ion-android-open"></i> Details</button>
                <button class="btn btn-primary btn-sm rounded"> <i class="ion-bag"></i> Add to cart</button>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section>


    <hr class="offset-lg">
    <hr class="offset-sm">
    <footer>
      <div class="about">
        <div class="container">
          <div class="row">
            <hr class="offset-md">

            <div class="col-xs-6 col-sm-3">
              <div class="item">
                <i class="ion-ios-telephone-outline"></i>
                <h1>24/7 free <br> <span>support</span></h1>
              </div>
            </div>
            <div class="col-xs-6 col-sm-3">
              <div class="item">
                <i class="ion-ios-star-outline"></i>
                <h1>Low price <br> <span>guarantee</span></h1>
              </div>
            </div>
            <div class="col-xs-6 col-sm-3">
              <div class="item">
                <i class="ion-ios-gear-outline"></i>
                <h1> Manufacturer’s <br> <span>warranty</span></h1>
              </div>
            </div>
            <div class="col-xs-6 col-sm-3">
              <div class="item">
                <i class="ion-ios-loop"></i>
                <h1> Full refund <br> <span>guarantee</span> </h1>
              </div>
            </div>

            <hr class="offset-md">
          </div>
        </div>
      </div>

      <div class="subscribe">
        <div class="container align-center">
            <hr class="offset-md">

            <h1 class="h3 upp">Join our newsletter</h1>
            <p>Get more information and receive special discounts for our products.</p>
            <hr class="offset-sm">

            <form action="index.php" method="post">
              <div class="input-group">
                <input type="email" name="email" value="" placeholder="E-mail" required="" class="form-control">
                <span class="input-group-btn">
                  <button type="submit" class="btn btn-primary"> Subscribe <i class="ion-android-send"></i> </button>
                </span>
              </div><!-- /input-group -->
            </form>
            <hr class="offset-lg">
            <hr class="offset-md">

            <div class="social">
              <a href="#"><i class="ion-social-facebook"></i></a>
              <a href="#"><i class="ion-social-twitter"></i></a>
              <a href="#"><i class="ion-social-googleplus-outline"></i></a>
              <a href="#"><i class="ion-social-instagram-outline"></i></a>
              <a href="#"><i class="ion-social-linkedin-outline"></i></a>
              <a href="#"><i class="ion-social-youtube-outline"></i></a>
            </div>


            <hr class="offset-md">
            <hr class="offset-md">
        </div>
      </div>


      <div class="container">
        <hr class="offset-md">

        <div class="row menu">
          <div class="col-sm-5 col-md-4">
            <h1 class="h4">About <i class="ion-plus-round hidden-sm hidden-md hidden-lg"></i> </h1>

           <p>Naijatechstores is the first online warehouse dedicated to computers and accessories. Here,you can get all varieties of brands and specifications of laptops. We guarantee the reliability and durability of laptop(s) you buy on our site</p>
          </div>
  
          <div class="col-sm-6 col-md-4">

            <img src="assets/img/products/Comp_1-min.gif" alt=""  class="img-responsive">
          </div>
            <!-- <hr class="offset-xs"> -->
  
          <div class="col-sm-3 col-md-3 col-md-offset-1 align-right">
            <h1 class="h4">Naijatechstores.</h1>

              <address>
                1305 Market Street, Suite 800<br>
                San Francisco, CA 94102<br>
                <abbr title="Phone">P:</abbr> (123) 456-7890
              </address>

              <address>
                <strong>Support</strong><br>
                <a href="mailto:#">sup@example.com</a>
              </address>

          </div>
        </div>
      </div>

      <hr>

      <div class="container">
        <div class="row">
          <div class="col-sm-9 col-md-9 payments">
            <p>Pay your order in the most convenient way</p>

            <div class="payment-icons">
              <img src="assets/img/payments/paypal.svg" alt="paypal">
              <img src="assets/img/payments/visa.svg" alt="visa">
              <img src="assets/img/payments/master-card.svg" alt="mc">
              <img src="assets/img/payments/discover.svg" alt="discover">
              <img src="assets/img/payments/american-express.svg" alt="ae">
            </div>
            <br>

          </div>
          <div class="col-sm-3 col-md-3 align-right align-center-xs">
            <hr class="offset-sm hidden-sm">
            <hr class="offset-sm">
            <p>Copyright 2020 © Powered By Niyotek Technologies Designed By Webideasnetwork All Rights Reserved.</p>
            <hr class="offset-lg visible-xs">
          </div>
        </div>
      </div>
    </footer>

    <!-- Modal -->
    <div class="modal fade" id="Modal-Delivery" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="ion-android-close"></i></span></button>
          </div>
          <div class="modal-body">
            <div class="container-fluid">
              <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                  <h2 class="modal-title text-center">Delivery Checkout</h2>
                  <br>

                  <form class="join" action="index.php" method="post">
                    <input type="text" name="name" value="" placeholder="Name" required="" class="form-control" />
                    <br>

                    <input type="text" name="email" value="" placeholder="Enter your address for item recovery" required="" class="form-control" />
                    <br>

                    <input type="number" name="email" value="" placeholder="Enter your phone number" required="" class="form-control" />
                    <br>

                    <button type="submit" class="btn btn-primary btn-sm">Ok</button> &nbsp;&nbsp;                    
                  </form>
                  <br><br>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <p class="text-danger">
                Every information field must be confirmed before sending to avoid unnecessary distress, also add a working phone number for easy contacting<br> thanks 😊
              </p>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="Modal-Callback" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="ion-android-close"></i></span></button>
          </div>
          <div class="modal-body">
            <div class="container-fluid">
              <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                  <h2 class="modal-title text-center">Seller Callback Form</h2>
                  <br>

                  <form class="join" action="index.php" method="post">
                    <input type="text" name="name" value="" placeholder="Name" required="" class="form-control" />
                    <br>

                    <input type="email" name="email" value="" placeholder="E-mail" required="" class="form-control" />
                    <br>

                    <input type="number" name="email" value="" placeholder="Phone number" required="" class="form-control" />
                    <br>

                    <button type="submit" class="btn btn-primary btn-sm">Ok</button> &nbsp;&nbsp;                    
                  </form>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
              <p class="text-warning">
                This form is for us to get back to you when we are not currently available or incase of any network interferance.
                For more information call our customer support line <a href="mailto:#">sup@example.com</a>
              </p>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="Modal-Gallery" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="ion-android-close"></i></span></button>
            <h4 class="modal-title">Favorites</h4>
          </div>
          <div class="modal-body">
            <p>You currently have no favorites</p>
          </div>
          <div class="modal-footer">
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="Modal-Comment" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header align-center">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="ion-android-close"></i></span></button>
            <h1 class="h4 modal-title">Add your comment</h1>
          </div>
          <div class="modal-body">
            <div class="container-fluid">
            <form class="join" action="index.php" method="post">
              <div class="row">
              	<div class="col-sm-12">
                	<textarea name="comment" placeholder="Type here" required="" class="form-control" rows="5"></textarea>
                	<br>
                </div>
                <div class="col-sm-6">
                    <input type="text" name="name" value="" placeholder="Name" required="" class="form-control" />
                </div>
                <div class="col-sm-6">
                    <input type="email" name="email" value="" placeholder="E-mail" required="" class="form-control" />
                </div>
                <div class="col-sm-12">
                	<div class="align-center">
	                	<br>
	                	<button type="submit" class="btn btn-primary btn-sm"> <i class="ion-android-send"></i> Send</button>
                		<button type="button" class="btn btn-primary btn-sm" data-dismiss="modal"> <i class="ion-android-share"></i> No, thanks </button>
	                	<br><br>
                	</div>
                </div>
              </div>
             </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="assets/js/jquery-latest.min.js"></script>
    
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/core.js"></script>
    <script src="assets/js/store.js"></script>
    <script src="assets/js/carousel-product.js"></script>
    <script type="text/javascript" src="assets/js/jquery.touchSwipe.min.js"></script>

    <script type="text/javascript" src="assets/js/custom-scroll/jquery.mCustomScrollbar.concat.min.js"></script>

    <script type="text/javascript" src="assets/js/jquery-ui-1.11.4.js"></script>
    <script type="text/javascript" src="assets/js/jquery.ui.touch-punch.js"></script>

  </body>
</html>